
*.index

.DS_Store

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.lock

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.mylyn/.tasks.xml.zip

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.mylyn/repositories.xml.zip

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.mylyn/tasks.xml.zip

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/be.ac.ua.ansymo.cheopsj.model/changemodel.ser

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/5b/40f52fc739cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/7c/6056dc7ea6cd00111bc1bf1be7da9c39

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/82/60b4ed9339cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/8f/40cd95c539cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/91/3067eac339cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/cb/c055e9c339cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/d5/f08ee174a6cd00111bc1bf1be7da9c39

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/f3/103da87b1dcf001111c1c50d10c23006

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/f7/e087319d39cf00111f42eaaf0e801a1c

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/TestProject/.markers

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/TestProject/org.eclipse.jdt.core/state.dat

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/61.tree

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/82.tree

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/83.tree

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv

*.csv

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

*.history

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

be.ac.ua.ansymo.cheopsj.changerecorders/testworkspace/.metadata/version.ini

*.class
